.content{
  width:66.5%;
  float:left;
  padding: 10px;
  background:red;
  height:100%;
}

.sidebar{
  width:30%;
  float:right;
  padding:10px;
  background:blue;
  back
}
h1{
  text-align: center;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}
body{
  color:white;
  background-color: red;
}
#date,#ch{
  color: yellow;
  font-size: 12px;
  font-style: italic;
}
a{
  color:#ffffb3;
}
#ch{
  color: yellow;
  font-size: 20px;
  font-style: italic;
  border-bottom: 2px solid yellow;
}
#pcount{
  color: yellow;
  font-size: 20px;
  font-style: bold;
}
