{%extends 'blog/base.html'%}
{%block title_block%}{{post.title}}{%endblock%}
{%block content%}

<h1>{{post.title}}</h1>
<p id="date">Published on {{post.publish}} by {{post.author|title}}</p>
{{post.body|linebreaks}}
<br>
<div class="container" align='center'>
  <a href="/{{post.id}}/share" class='btn btn-lg btn-success' target='_blank'>Share post by Email</a>

</div>

{%with comments.count as comment_count%}
<h2>{{comment_count}} Comment{{comment_count|pluralize}}</h2>

{%endwith%}
{%if comments%}

{%for comment in comments%}

<p id='ch'>Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
<div class="cb">
  {{comment.body|linebreaks}}
</div>
{%endfor%}
{%else%}
<p>There are no comments yet !!!</p>

{%endif%}


{%if csubmit%}
<h2>Your comment Added succesfully</h2>
{%else%}
<h2>You can submit your comment , it is more valueable for us</h2>
<form method="post">
{{form.as_p}}
{%csrf_token%}
<input class='btn btn-success' type="submit" name="" value="Submit Comment">

</form>

{%endif%}

{%endblock%}
